@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


html {
   --scroll-behavior: smooth !important;
   scroll-behavior: smooth !important;
   font-family: 'Roboto', sans-serif;
}

code {
   counter-reset: line;
 }
  
 code > [data-line]::before {
   counter-increment: line;
   content: counter(line);
  
   /* Other styling */
   display: inline-block;
   width: 1rem;
   margin-right: 2rem;
   text-align: right;
   color: gray;
 }
  
 code[data-line-numbers-max-digits="2"] > [data-line]::before {
   width: 2rem;
 }
  
 code[data-line-numbers-max-digits="3"] > [data-line]::before {
   width: 3rem;
 }

 [data-highlighted-line] {
   background-color: rgba(255,255,255,0.1) !important;
   padding: 2px;
   padding-left: 0;
   padding-right: 4px;
   border-radius: 2px;
   border-left: 2x solid #7B00D3;
 }

 [data-highlighted-chars] {
   background-color: rgba(255,255,255,0.2) !important;
   padding: 2px;
   border-radius: 2px;
 }

 [data-rehype-pretty-code-fragment]{
   position: relative;
 }

 [data-rehype-pretty-code-title] {
   position: absolute;
   right: 0;
   background-color: #7B00D3;
   color: #fff;
   padding: 4px 8px;
   font-size: 1rem;
   border-end-start-radius: 4px;
 }
 [data-rehype-pretty-code-caption] {
   position: absolute;
   top: 100%;
   width: 100%;
   text-align: center;
   font-size: 1rem;
   color: #747474;
 }

 /* slide animation */
 @keyframes slide {
   0% {
     background-position: 0% 100%;
   }
   100% {
     background-position: 200% 100%;
   }
 }
 
 .nav-item {
   position: relative;
   overflow: hidden;
 }
 
 .nav-item::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 3px; /* Adjust the height of the underline */
   background: linear-gradient(90deg, var(--color-salo-blue), var(--color-salo-violet), var(--color-salo-blue));
   background-size: 200% 100%;
   transition: transform 0.5s ease;
   transform: translateX(-100%);
 }
 
 .nav-item:hover::after {
   animation: slide 4s linear infinite;
   transform: translateX(0%);
 }
 /* end slide animation */

@layer base {
   body {
      @apply bg-custom-black text-[#1f2937] tracking-wide;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      @apply font-bold;
   }

   h1 {
      @apply text-6xl sm:text-7xl md:text-8xl;
   }

   h2 {
      @apply text-5xl md:text-6xl;
   }

   h3 {
      @apply text-3xl;
   }

   h4 {
      @apply text-2xl sm:text-3xl;
   }

   li {
      @apply cursor-pointer;
   }

   button {
      @apply rounded-xl uppercase bg-blue-50 text-white;
   }

   #project-title {
      @apply text-base md:text-3xl;
   }

   :root {
      --color-gray-100: #f8f8f8;
      --color-gray-200: #f1f1f1;
      --color-gray-300: #e1e1e1;
      --color-material-black: #1f1f1f;
      --color-material-gray: #28292a;
      --color-light-material-gray: #363636;


      --color-light-salo-blue: #77f3ef;
      --color-salo-blue: #73e8e4;
      --color-dark-salo-blue: #48b4c1;
      --color-salo-violet: #fd10ff;

      --color-destructive-red: #ff0000;

      --button-gradient: linear-gradient(90deg, var(--color-light-salo-blue) 0%, var(--color-dark-salo-blue) 100%);
   }
}
